.contact {
  padding: 9vh 0;
  @include media("<=tablet") {
    margin: 0 20px 20px;
  }

  &__grid {
    color: $myOrange;
    font-weight: 700;
    @include media(">tablet") {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 80px;
    }

    &__grid-item {
      margin: 20px;
    }
  }
}

.left-col {
  margin-bottom: 20px;
  text-align: right;

  &__header {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: uppercase;

    @include media(">tablet") {
      font-size: 4rem;
    }
    @include media("<=tablet") {
      font-size: 3rem;
    }
  }

  &__p {
    margin: 0;
    font-size: 1.3rem;
  }
}

.right-col {
  @include media(">tablet") {
    width: 35vw;
  }

  &__header {
    margin: 10px 0;
  }
}

.form {
  font-weight: 500;

  &__label {
    display: block;
    font-size: 0.8rem;

    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }

  &__input,
  &__textarea {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    border: 2px solid $myOrange;
    color: $myPurple;
    letter-spacing: 1.1;
    font: {
      family: "Montserrat", sans-serif;
      size: 1.1rem;
    }

    &:focus {
      outline: none;
      background: transparent;
      box-shadow: 0 0 23px -2px rgba(193, 47, 105, 0.5);
    }

    &:valid {
      border: 2px solid rgb(63, 204, 63);
    }

    &::placeholder {
      opacity: 0.95;
      font: 400 0.8rem "Montserrat", sans-serif;
      color: rgb(155, 155, 155);
    }
  }

  &__textarea {
    resize: vertical;
  }

  &__errorMsg {
    margin: 5px 0;
    font: {
      size: 0.9rem;
      weight: 500;
    }
  }

  &__status {
    margin: 0 20px;
  }

  &__honey-row {
    //antispam
    display: none;
  }
}
