.projects {
  padding: 9vh 0;
  color: rgb(255, 255, 255);
  width: 100%;

  &__link {
    background: rgb(255, 255, 255);
    color: $myPurple;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      background: rgba(255, 255, 255, 0.658);
    }
  }

  &__h3 {
    text-align: center;
    margin: 50px 0 10px 0;
  }

  &__caption {
    @include media(">=tablet") {
      width: 40%;
      margin: 20px auto;
    }
    margin: 10px;
    font-size: 0.8rem;
    text-align: center;
  }
  &__grid {
    margin-top: 50px;
    @include media(">tablet") {
      display: grid;
      grid-auto-flow: column;
      grid-template: repeat(5, auto) / repeat(2, 38vw);
      justify-content: center;
      justify-items: center;
    }
  }

  &__imgWrapper {
    @include flexCenter;
  }

  &__img {
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(245, 222, 179);
    transition: all 0.2s;
    @include media(">tablet") {
      width: 30vw;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    @include media("<=tablet") {
      width: 60vw;
    }
  }

  &__titleWrapper {
    @include flexCenter;
  }

  &__iconsWrapper {
    display: flex;
    margin: 20px;
    // @include flexCenter;
  }

  &__icon {
    margin: 0 30px;
    color: rgb(255, 255, 255);
    &:hover {
      color: $myOrange;
    }
    &:active {
      color: rgb(241, 82, 19);
    }
  }

  &__title {
    display: block;
    margin: 10px 0;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font: {
      size: 1.7rem;
      weight: 700;
    }
  }

  &__p,
  &__ul {
    margin: 20px 40px;
    padding: 0 20px;
    font-size: 0.9rem;
  }

  &__ul {
    list-style: none;
    text-transform: uppercase;
  }

  &__li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
}
