.svgShaped {
  width: 100%;
  margin: -10px 0;
}

.skills {
  width: 100%;
  padding-top: 9vh;
  color: rgb(255, 255, 255);

  &__background {
    background: $myPurple;
    background: linear-gradient(0deg, $myOrange 0%, $myPurple 100%);
  }

  &__grid {
    display: grid;
    justify-content: center;
    place-items: center;
    @include media("<=tablet") {
      grid-template: repeat(3, 1fr) / repeat(3, 80px);
      gap: 10px;
    }

    @include media(">tablet") {
      grid-template: repeat(3, 1fr) / repeat(9, 80px);
      gap: 30px;
    }
  }

  &__icon {
    text-align: center;
    font-size: 0.8rem;

    .icon__caption {
      margin: 1rem 0;
    }
  }

  &__h3 {
    grid-column: 1 / span 3;
    margin: 0 30px;
    font: {
      size: 3rem;
      weight: 700;
    }
    @include media("<=tablet") {
      margin: 30px 0;
    }
  }
}
