//animate on scroll with JS
.js-aos-hidden {
  opacity: 0;
}

.js-aos-slideIn {
  animation: aos-slideIn 0.5s forwards ease-in-out;
}

@keyframes aos-slideIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  70% {
    transform: translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// #start - mouse icon bouncing
@keyframes mouseBounce {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}
