@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin widthForProjectsImg {
  @include media(">tablet") {
    height: 23vw;
  }
  @include media("<=tablet") {
    width: 60vw;
  }
}
