.js-aos-hidden {
  opacity: 0;
}

.js-aos-slideIn {
  animation: aos-slideIn 0.5s forwards;
}

@keyframes aos-slideIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
