.bio {
  padding: 30px 0;
  color: $myGrey;
  width: 75vw;
  margin: 0 auto;

  &__grid {
    @include media(">1000px") {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      place-items: stretch;
      justify-content: center;
      gap: 2vw;
    }

    &-item {
      padding: 30px;
      @include media("<=tablet") {
        max-width: 90vw;
        margin: 20px 0;
      }
      border-radius: 60px;
      box-shadow: 0 0 1em $myOrange;
      text-align: center;
    }
  }
  &__img {
    width: 200px;
    margin-block-end: 20px;
  }
  &__header {
    line-height: 1.2;
    margin-bottom: 70 px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $myPurple;
  }

  &__h3 {
    margin-top: 0;
    text-align: center;
    font-size: 2.2rem;
    color: $myOrange;
  }

  &__p {
    font-size: 0.97rem;
    text-align: left;

    &--highlighted {
      font-weight: 600;
      color: white;
      background-color: $myPurple;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__ul {
    text-align: left;
    padding-left: 1.3rem;
    list-style: none;
  }
  &__li::before {
    content: "\f005";
    font-family: FontAwesome;
    color: $myPurple;
    font-size: 0.8rem;
    margin-inline-start: -1.3rem;
    margin-inline-end: 0.45rem;
  }
}
