.btn {
  padding: 0.5rem;
  font-weight: 700;
  // text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  display: block;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.contact__btn {
  width: 100px;
  margin: 1rem auto;
  background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
  -webkit-text-fill-color: white;
  border: none;
  font-size: 1rem;
  &:hover {
    transform: scale(1.1);
  }
}

.projects__btn {
  margin: 0.5rem;
  width: 30%;

  &:hover {
    background: rgba(192, 47, 105, 0.8);
    color: white;
  }
}

.projects__btn-demo {
  background: rgba(255, 255, 255, 0.3);
  color: $myPurple;
  border: 1px solid $myPurple;
}

.projects__btn-code {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 1px solid white;
}
