.contact {
  &__grid {
    padding-top: 30px;
    @include media(">tablet") {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 80px;
      align-items: center;
    }
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 1.8rem;
      weight: 700;
    }
  }
}

.left-col {
  margin: 20px;
  text-align: right;
  &__header {
    margin: 20px;
    text-transform: uppercase;
    font-weight: 700;

    @include media(">tablet") {
      font-size: 4rem;
    }
    @include media("<=tablet") {
      font-size: 3rem;
    }
  }
  &__a {
    display: inline-block;
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    -webkit-text-fill-color: white;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.right-col {
  margin: 20px;
  @include media("<=tablet") {
    width: 95vw;
  }
  @include media(">tablet") {
    width: 35vw;
  }

  &__header {
    margin: 20px;
  }
  .form {
    &__label {
      font-size: 0.9rem;
    }
    &__input,
    &__textarea {
      display: block;
      font-size: 1.1rem;
      font-weight: 600;
      width: 80%;
      border: 2px solid $myOrange;
      padding: 15px;
      background: transparent;
      -webkit-text-fill-color: $myPurple;
      color: black;
      &:focus {
        outline: none;
        background: transparent;
      }
      &__textarea {
        resize: vertical;
        font-weight: 700;
        &:focus {
        }
      }
    }
  }
}
