.contact {
  &__grid {
    padding-top: 30px;
    @include media(">tablet") {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 80px;
    }
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
      size: 1.8rem;
      weight: 700;
    }
  }
}

.left-col {
  margin: 20px;
  text-align: right;
  &__header {
    margin-top: 0;
    text-transform: uppercase;
    font: {
      size: 4rem;
      weight: 700;
    }
    @include media("<tablet") {
      font-size: 3rem;
    }
  }
  // &__p {
  // }
  &__a {
    display: inline-block;
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    -webkit-text-fill-color: white;
    text-decoration: none;
  }
}

.right-col {
  &__header {
    margin: 20px;
  }
}
