.contact {
  padding: 9vh 0;
  @include media("<=tablet") {
    margin: 0 20px 20px 20px;
  }
  &__grid {
    font-weight: 700;
    @include media(">tablet") {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      gap: 80px;
    }
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &__grid-item {
      margin: 20px;
    }
  }
}

.left-col {
  text-align: right;
  margin-bottom: 20px;
  &__header {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;

    @include media(">tablet") {
      font-size: 4rem;
    }
    @include media("<=tablet") {
      font-size: 3rem;
    }
  }
  &__p {
    font-size: 1.3rem;
    margin: 0;
  }
  &__a {
    display: inline-block;
    background-color: $myOrange;
    background: linear-gradient(0deg, $myPurple 0%, $myOrange 100%);
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    -webkit-text-fill-color: white;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.right-col {
  @include media(">tablet") {
    width: 35vw;
  }

  &__header {
    margin: 10px 0;
  }

  .form {
    &__label {
      margin: 0 auto;
      font-size: 0.8rem;
    }
    &__input,
    &__textarea {
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 20px;
      display: block;
      font-size: 1.1rem;
      font-weight: 600;
      width: 100%;
      border: 2px solid $myOrange;
      padding: 15px;
      background: transparent;
      -webkit-text-fill-color: $myPurple;
      &:focus {
        outline: none;
        background: transparent;
      }
    }
    &__textarea {
      resize: vertical;
      font-weight: 700;
    }
  }
}

//antispam
.honey-row {
  display: none;
}
