.skills {
  padding-top: 30px;
  color: white;
  width: 100%;

  &__background {
    background: $myPurple;
    background: linear-gradient(0deg, $myOrange 0%, $myPurple 100%);
  }

  &__grid {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    place-items: center;
    @include media("<=tablet") {
      grid-template: repeat(3, 1fr) / repeat(3, 80px);
      gap: 10px;
    }
    // @include media(">phone", "<=tablet") {
    //   grid-template: row1:span3, row2:auto / repeat (4, 80px);
    //   gap: 10px;
    // }
    // @include media(">tablet") {
    //   grid-template: repeat(3, 1fr) / repeat(8, 80px);
    //   gap: 30px;
    // }

    @include media(">tablet") {
      grid-template: repeat(3, 1fr) / repeat(8, 80px);
      gap: 30px;
    }
  }

  &__icon {
    text-align: center;
    font-size: 0.8rem;
  }

  &__h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 30px;
    grid-column: 1 / span 3;
    @include media("<=tablet") {
      margin: 30px 0;
    }
  }
}
