.start {
  min-height: 100vh;
  width: 100vw;

  @include media("<desktop") {
    color: $myPurple;

    padding: 25vh 0;
    margin: 0 auto;
    text-align: center;
    background: #fea684;
    background: linear-gradient(315deg, #fea684 0%, #feb9a3 74%);
  }

  @include media(">=desktop") {
    min-height: 12rem;
    background: url("../images/trianglify-lowres.png") no-repeat center center
      fixed;
    @include flexCenter;
    background-size: cover;
  }

  &__h1 {
    //  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    font-size: calc(80px + (192 - 80) * ((100vw - 320px) / (1440 - 320)));
    font-family: $firaCode;
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: 300;
    line-height: 0.9;

    .start__h1--transform {
      font-family: $montserrat;
      font-weight: 700;
      display: inline-block;
      transform: rotate(-180deg);
    }
  }

  &__p {
    margin-left: 2rem;

    &--bigger {
      font-size: 2.5rem;
    }
  }
}
