*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
}

.menu {
  text-transform: uppercase;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c02f69;
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
}

.menu__ul {
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin: 17px 25px;
}

.menu__item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

@media screen and (min-device-width: 1024px) {
  .start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(/images/background-start.png) no-repeat center center fixed;
    background-size: cover;
  }
}

.btn {
  display: block;
  margin: 1rem auto;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.3);
  border: #c02f69 solid 2px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #c02f69;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
}

.btn:focus:hover {
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.start {
  height: 100vh;
  min-height: 12rem;
  width: 100vw;
  color: #c02f69;
}

.start__h1 {
  font-family: "Fira Code", "Courier New", "Courier", monospace;
  font-size: 12rem;
  margin-right: 2rem;
  font-weight: 300;
  line-height: 0.9;
}

.start__h1 .start__h1--transform {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.start__p {
  margin-left: 2rem;
}

.start__p--bigger {
  font-size: 2.5rem;
}

.bio {
  padding-top: 30px;
  color: #575757;
}

.bio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[3];
  -ms-grid-columns: (30vw)[2];
      grid-template: repeat(3, 400px)/repeat(2, 30vw);
  place-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.bio__grid-item {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 40px;
}

.bio__h2 {
  line-height: 1.2;
  margin-bottom: 70px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.bio__h3 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}

.bio__p {
  font-size: 1.3rem;
}

.bio__p--highlighted {
  font-weight: 600;
  color: white;
  background-color: #c02f69;
}

.bio__p--bold {
  font-weight: 600;
}

.bio__p--noBottomMargin {
  margin-bottom: 0;
}

.bio__ul {
  margin-top: 0;
  font-size: 1.3rem;
}

.bio__img {
  width: 6rem;
  display: block;
  margin: 0 auto;
  float: right;
  border-radius: 50%;
}

.bio__btn {
  margin: 100px;
}

.portfolio {
  padding-top: 30px;
}

.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 200px (80px)[4];
      grid-template: 1fr 1fr/200px repeat(4, 80px);
  gap: 30px;
}

.portfolio__grid .grid__h3 {
  -ms-grid-column-align: right;
      justify-self: right;
}

.portfolio__h3 {
  color: #c02f69;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 30px;
}

.portfolio__h3-last {
  text-align: center;
  margin: 50px;
}
/*# sourceMappingURL=main.css.map */