*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
}

.menu {
  text-transform: uppercase;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c02f69;
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
}

.menu__ul {
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin: 17px 25px;
}

.menu__item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn {
  margin: 1rem auto;
  padding: 0.5rem;
  background: rgba(192, 47, 105, 0);
  color: #c02f69;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  display: block;
  border: 1px solid #c02f69;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(192, 47, 105, 0.8);
  color: white;
  cursor: pointer;
}

.start {
  height: 100vh;
  min-height: 12rem;
  width: 100vw;
  color: #c02f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("images/background-start.png") no-repeat center center fixed;
  background-size: cover;
}

.start__h1 {
  font-family: "Fira Code", "Courier New", "Courier", monospace;
  font-size: 12rem;
  margin-right: 2rem;
  font-weight: 300;
  line-height: 0.9;
}

.start__h1 .start__h1--transform {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.start__p {
  margin-left: 2rem;
}

.start__p--bigger {
  font-size: 2.5rem;
}

.bio {
  padding: 30px 0;
  color: #575757;
}

.bio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (350px)[3];
  -ms-grid-columns: (350px)[3];
      grid-template: repeat(3, 350px)/repeat(3, 350px);
  place-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.bio__grid-item {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 40px;
}

.bio__grid-item--noPadding {
  padding: 0;
}

.bio__h2 {
  line-height: 1.2;
  margin-bottom: 70 px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.bio__h3 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}

.bio__p {
  font-size: 0.97rem;
}

.bio__p--highlighted {
  font-weight: 600;
  color: white;
  background-color: #c02f69;
}

.bio__p--bold {
  font-weight: 600;
}

.bio__p--noBottomMargin {
  margin-bottom: 0;
}

.bio__ul {
  margin-top: 0;
}

.bio__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.bio__btn {
  margin: 100px;
}

.portfolio {
  padding-top: 30px;
  color: white;
  width: 100vw;
}

.portfolio__divShaped {
  margin: -5px;
}

.portfolio__background {
  background: #c02f69;
}

.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 200px (80px)[4];
      grid-template: 1fr 1fr/200px repeat(4, 80px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
      grid-template-areas: "skills icon icon icon icon" "tools icon icon icon icon";
}

.portfolio__grid .skills {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: skills;
}

.portfolio__grid .tools {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tools;
}

.portfolio__icon {
  text-align: center;
  font-size: 0.8rem;
}

.portfolio__h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 30px;
}

.projects {
  color: white;
  width: 100vw;
}

.projects__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (38vw)[2];
      grid-template-columns: repeat(2, 38vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.projects__imgWrapper {
  height: 26vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__img {
  height: 23vw;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em wheat;
          box-shadow: 0 0 1em wheat;
  -webkit-transition: all 0.2s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  transition: all 0.2s cubic-bezier(0.58, 0.11, 0.11, 0.95);
}

.projects__img:hover {
  height: 24vw;
  cursor: pointer;
}

.projects__h3 {
  text-align: center;
  margin: 50px;
}

.projects__h4 {
  text-align: center;
}

.projects__p {
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */