// variables
$myPurple: #c12f69;
$myGrey: #575757;
$montserrat: "Montserrat", sans-serif;
$firaCode: "Fira Code", "Courier New", "Courier", monospace;

// mixins
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

//global styles
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $montserrat;
  width: 100vw;
}

//menu
.menu {
  text-transform: uppercase;
  width: 100vw;
  @include flexCenter;
  background-color: $myPurple;
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 20;
  &__ul {
    list-style: none;
  }
  &__item {
    display: inline-block;
    margin: 17px 25px;
    a {
      text-decoration: none;
      color: white;
      // font-weight: 600;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
    }
  }
}

.btn {
  padding: 0.5rem;

  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.58, 0.11, 0.11, 0.95);
  display: block;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.start__btn {
  margin: 1rem auto;
  background: rgba(192, 47, 105, 0);
  color: $myPurple;
  border: 1px solid $myPurple;
  &:hover {
    background: rgba(192, 47, 105, 0.8);
    color: white;
  }
}

.projects__btn-demo {
  background: rgba(255, 255, 255, 0.3);
  color: $myPurple;
  border: 1px solid $myPurple;
  &:hover {
    background: rgba(192, 47, 105, 0.8);
    color: white;
  }
}

.projects__btn-code {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 1px solid white;
  &:hover {
    background: rgba(192, 47, 105, 0.8);
    color: white;
  }
}

.projects__btn {
  margin: 0.5rem;
  width: 30%;
}

.start {
  height: 100vh;
  min-height: 12rem;
  width: 100vw;
  color: $myPurple;
  @include flexCenter;
  background: url("../images/background-start.png") no-repeat center center
    fixed;
  background-size: cover;
  &__h1 {
    font-family: $firaCode;
    font-size: 12rem;
    margin-right: 2rem;
    font-weight: 300;
    line-height: 0.9;
    .start__h1--transform {
      font-family: $montserrat;
      font-weight: 700;
      display: inline-block;
      transform: rotate(-180deg);
    }
  }
  &__p {
    margin-left: 2rem;
    &--bigger {
      font-size: 2.5rem;
    }
  }
}

// bio
.bio {
  padding: 30px 0;
  color: $myGrey;
  &__grid {
    display: grid;
    grid-template: repeat(3, 350px) / repeat(3, 350px);
    place-items: stretch;
    justify-content: center;
    gap: 50px;
    &-item {
      border: 1px solid lightgrey;
      border-radius: 5%;
      padding: 40px;
      &--noPadding {
        padding: 0;
      }
    }
  }
  &__h2 {
    line-height: 1.2;
    margin-bottom: 70 px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
  &__h3 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
  }
  &__p {
    font-size: 0.97rem;
    &--highlighted {
      font-weight: 600;
      color: white;
      background-color: $myPurple;
    }
    &--bold {
      font-weight: 600;
    }
    &--noBottomMargin {
      margin-bottom: 0;
    }
  }
  &__ul {
    margin-top: 0;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    // overflow: hidden;
  }
  &__btn {
    margin: 100px;
  }
}

// portfolio
.portfolio {
  padding-top: 30px;
  color: white;
  width: 100vw;
  &__divShaped {
    margin: -5px;
  }
  &__background {
    background: $myPurple;
    background: linear-gradient(
      0deg,
      rgba(235, 126, 84, 1) 0%,
      rgba(193, 47, 105, 1) 100%
    );
  }
  &__grid {
    display: grid;
    grid-template: repeat(3, 1fr) / 200px repeat(4, 80px);
    gap: 30px;
    justify-content: center;
    place-items: center;
    grid-template-areas:
      "skills icon icon icon icon"
      "tools icon icon icon icon"
      "learning icon icon icon icon";

    .skills {
      grid-area: skills;
    }
    .tools {
      grid-area: tools;
    }
    .learning {
      grid-area: learning;
    }
  }
  &__icon {
    text-align: center;
    font-size: 0.8rem;
  }

  &__h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 30px;
  }
}

//projects
.projects {
  color: white;
  width: 100vw;
  &__grid {
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, 38vw);
    justify-content: center;
    justify-items: center;
  }
  &__imgWrapper {
    height: 26vw;
    @include flexCenter;
    position: relative;
  }
  &__img {
    height: 23vw;
    border-radius: 10px;
    box-shadow: 0 0 1em wheat;
    transition: all 0.2s cubic-bezier(0.58, 0.11, 0.11, 0.95);
    &:hover {
      height: 24vw;
      opacity: 0.3;
      cursor: pointer;
    }
  }
  &__btns {
    @include flexCenter;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__h3 {
    text-align: center;
    margin: 50px;
  }
  &__h4 {
    font-size: 1.7rem;
    // text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    // background: linear-gradient(to right, #e46be0, #f598a5, #eeae86);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  &__p,
  &__ul {
    padding: 0 20px;
    margin: 20px 40px;
    font-size: 0.9rem;
  }
  &__ul {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
  }
  &__li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
  }
}

//scroll up arrows
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 72px;
  z-index: 999;
  cursor: pointer;
}

.scroll-up__path {
  stroke: rgb(255, 151, 169);
  fill: transparent;
  stroke-width: 1px;
  animation: blinkUp 7s infinite;
  &--a1 {
    animation-delay: -1s;
  }
  &--a2 {
    animation-delay: -0.5s;
  }
  &--a3 {
    animation-delay: 0s;
  }
}

@keyframes blinkUp {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  visibility: hidden;
}
