//include-media - media queries library
@import "./include-media";

//variables and mixins
@import "./fonts";
@import "./colors";
@import "./mixins";

//buttons
@import "./buttons";

//page sections
@import "./navigation";
@import "./start";
@import "./bio";
@import "./div-shaped";
@import "./skills";
@import "./projects";
@import "./contact";
@import "./footer";

//js classes
@import "./scroll-up-arrows";
@import "./animate-on-scroll";

// *, *: : before, *: : after {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $montserrat;
  // overflow: hidden;
}
